body{
width:100%;

}

 .main_menu{
    padding: 9px 100px 10px 5px;
    color:white;
    text-decoration:none;
    font-size: 15px;
    width: 100%; }
    .main_menu:hover{
      color:#14B9D5;;
  
}
.main_menu_first{
  margin:auto;
    padding:122px  ;
    color:white;
    text-decoration: none;
    font-size: 15px;
}
.main_menu_first:hover{
  color:#14B9D5;;
}
.main{
display:flex;
font-size:25px;
list-style-type: none;
align-items: center;
justify-content: center;

}
header{
    border:2px solid black;
    background-color:  #313131;
    display:flex;
    margin-left:0px ;
    margin-right:5px;
    width:100%;
    
}
.main_text{
    padding:30px 20px 21px 30px;
    color:white;
    text-decoration: none;

}
.logo_img{
    padding:30px 5px 20px 10px;
   
    height:30px;

}
.lupa{
 height:20px
}


.mainText {
    padding-left: 630px;
    padding-right: 605px;
    padding-top: 164px;
    padding-bottom: 173px;
    align-items: center;
}
.p {
    background-image: url(img/photo-11.jpeg);
    background-color: #c7b39b;
    max-width: 100%;
    background-size: cover;
width:100%;
    color: white;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
  
}
.main-menu-content{
  background-color: greenyellow;
  border: 2px solid greenyellow;
  font-family: Open Sans;
font-style: normal;
  padding:5px;
  width:140px;
  text-decoration:none;
  color:white;
  
}
.main-menu-content2{
  background-color: #18B4CF;
  border: 2px solid  #18B4CF;
  font-family: Open Sans;
font-style: normal;
  padding:5px;
  width:180px;
  text-decoration:none;
  color:white;
 margin-right:20px;



}
.texty{
    display:flex;
    justify-content: center;
    flex-direction: row;
  padding-top:20px;
   margin-right:20px;
}
.textDecor {
    color: #18B4CF;
    width: 100%;
    margin-left: 47%;
    height: 33px;
    font-size: 27px;
    line-height: 37px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
   
}

  .text_line{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-left:70px;
  }
.flex-container{
  display:flex;
  justify-content: flex-end;
  justify-content:center;
  align-items:center;
 
}
.box{
  
  width:1100px;
  height:120px;
  margin:0 10px;
  flex-direction:column;
  justify-content: flex-end;
 

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
}
.box-1 {
 
  padding-top:10px;
  padding-right:20px;
  padding-bottom: 0px;
  width: 370px;
height: 259px;
}
.box-2 {
  width: 370px;
height: 380px;
  padding-top:0px;
  padding-right:20px;
  padding-bottom: 0px;
}
.box-3 {

width: 370px;
height: 290px;
  padding-top:0px;
  padding-right:20px;
  padding-bottom: 0px;}
.box-4 {
  width: 370px;
  height: 260px;
  padding-top:0px;
  padding-right:20px;
  padding-bottom: 300px;
}
.box-5 {
  width: 370px;
height: 247px;
  padding-top:40px;
  padding-right:20px;
  padding-bottom: 20px;
  padding-bottom: 320px;
}
.box-6 {
  width: 370px;
  height: 380px;
 padding-top:0px;
  padding-right:20px;
  padding-bottom: 320px;
}
.last_try{
  background-image: url(./img/Photo-2.jpeg);
  width:100%;
  max-width: 100%;
  background-size: cover;
  height:360px;
  justify-content:center;
  align-items:center;
  background-attachment: fixed;
}
.grid { 
  display: grid;
  grid-template-areas:"item1 item2 item3 item4";
  grid-gap: 3vw;

  
}

.grid > div {
  font-size: 2vw;
  padding: 1.5em;
 color: white;
  text-align: center;
  margin-top:120px;
  justify-items: center;


}
.item0 {
  grid-area: item1;

}
.item1 {
  grid-area: item1;

}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}
.item4 {
  grid-area: item4;
}
.dayX{
  display: grid;
  grid-template-columns: 1fr;
}
.latest {
 
color: #18B4CF;
font-size: 27px;
line-height: 37px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
margin-left:50%;
}



.grid2 { 
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 0vw; 
  width:100%;
}
  

.grid2>div {
  font-size: 0vw;
  padding: 0em;
  margin-left:0px;
 
}
.mid{
  color: #18B4CF;
  font-size: 27px;
  line-height: 37px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  margin-left:50%;
  margin-top:12px;
  max-width: 100%;
  width:100%;
}
.textDecor2{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
} 


.grid3 { 
  display: grid;
  grid-template-rows:   1fr ;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-template-areas:"border1 border1 border1 border2"
  "border3 border3 border4 border4"
  "border5 border5 border6 border6"
  "border7 border7 border8 border8";
  margin:220px;

padding: 1.5em;
 

}

.grid3 > div {
  font-size: 2vw;

  grid-gap: 5vw;
  font-size:12px;
  margin-top:12px;
width:1700px;
justify-items:center;
max-width: 100%;
width:100%;


}
.border1{
  grid-area: border1;

}
.border9{
  grid-area: border9;
}
.border2{
  grid-area: border2;
}
.border3{
  grid-area: border3;
}
.border4{
  grid-area: border4;
}
.border5{
  grid-area: border5;
}
.border6{
  grid-area: border6;
}
.border7{
  grid-area: border7;
}
.border8{
  grid-area: border8 ;
}
.mid2{
  margin-left:300px;
  margin-top:12px;

  width:1700px;
}
.rtx{
 
  text-align: center;
  font-size: 10px;
  width:480px;
  
  height:80px;
}
.erow{
  font-size:12px;
  font-weight: bold;
  margin-left:70px;
}
.tent{
  padding-left:40%;
}
.footer{
border: 2px solid black;
background:black;
color:white;
width:100%;
height:45px;
padding-left:210px;
padding-top:20px;
padding-bottom:20px; 
text-align: center;
margin-top:120px;
justify-items: center;
}
.foterimg{
  margin-left:345px;


}